function _echo_and_run() (
    echo "[*]" $@
    eval $@
)

if [ -x "$(command -v gcloud)" ];
then
    echo "[*] installing gcp functions"
    # gcloud aliases
    function gcpssh() (
        PROJECT=$1
        HOST=$2
        shift;shift;
        _echo_and_run gcloud compute ssh $@ --project ${PROJECT} ${HOST}
    )

    function gcpscp() (
        PROJECT=$1
        FROM=$2
        TO=$3
        shift;shift;shift;
        _echo_and_run gcloud compute scp $@ --project ${PROJECT} ${FROM} ${TO}
    )
else
    echo "[*] gcloud not installed"
fi
